
body{
    background-image: url(images/bg-desktop.png);
    background-size: 100%;
    background-position: center bottom;
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.box-1{
    display: flex;
    flex-direction: column;
    height: 210px;
    margin-right: 25px;
}

.box-1 .text{
    text-align: left;
}

.icons{
    margin-left: 40px;
}

.image{
    padding: 40px 150px 15px 40px;
}

.box-2{
    max-width: 800px;
    height: 170px;
}

.box-2 .text{
    text-align: left;
    margin-bottom: 10px;
    margin-left: 30px;
}

.gb{
  padding: 15px 60px 50px 60px;
}

.balao{
    right: 18%;
    top: 42%;
}
